body {
  background-color: #18bc9c;
  min-width: 500px;
  width: auto !important;
  width:500px;
}

#createTournamentContainer {
  top: 110px;
  width: 100%;
  height: 100%;
  position: absolute;
}

#createTournament > div {
  position: absolute;
  min-width: 450px;
  height: 450px;
  left: 0;
  right: 0;
  top: 205px;
  bottom: 0;
  margin: 0 auto;
}

.alert-container {
	top: 135px !important;
	width: 540px !important;
}

#step4 .summoner-spells label:before {
	display:none;
}

#step4 .summoner-spells .row {
	padding-bottom: 30px;
}

#step4 .filterrole {
	color: white;
}

#step4 .filterrole input[type=checkbox] + label:before {
	color: white;
}

/*Header Text*/
.header-text {
    margin: 0 auto !important;
    text-align: center;
    position: absolute;
    top: 30px !important;
    font-size: 20px;
    color: white;
    font-weight: 200;
    width: 100%;
}

/* STEP 1 */
#step1 {
	width: 538px !important;
}

#step1 input {
  padding-left: 30px;
}

#step1 input.ng-invalid.ng-dirty {
  border-color: red;
}

#step1 input.ng-valid.ng-dirty:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}

#step2 .col-xs-12 {
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 18px;
}

.owner-label {
  font-size: 35px;
}

.owner-input:not(.default-size) {
  
  font-size: 38px;
  height: 55px;
  width: 450px;
}

.owner-input:not(.owner-password) {
	border-right: none;
}

.owner-password {
	width: 538px !important;
}

#step1 .fa-circle-o-notch {
	float: left;
	margin-top: 4px;
}

.region-selector:not(.default-size) {
  width: 88px;
  height: 55px;
  font-size: 20px;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #617487;
  border-color: #42586E;
}

.region-selector:hover, .region-selector:focus {
  background-color: #2C3E50;
  cursor: pointer;
}

.region-selector > option:hover {
	cursor: pointer;
}

.step1submit {
	float: right;
	margin-top: 0;
  margin-left: 10px;
}

.account-link {
	color: #0C4CAB;
}

.account-link:hover {
	color: #093981;
	text-decoration: none;
}

.block {
	display: block;
}



.top-padding {
	padding-top: 15px;
}

.top-margin {
	margin-top: 15px;
}

#step2 .row {
  padding-right: 15px;
  padding-left: 15px;
}

#step2 {
  top: 120px !important;
	max-width: 500px !important;
  min-width: 250px;
}

.step2back, .step4back {
  margin-left: 15px;
}

.step2submit, .step4submit {
  margin-right: 15px;
}

#step2 label {
	display: block;
}

#step2 .user-list-container {
	max-height: 387px;
  overflow: auto;
}

#step2 label {
  text-align: left;
}

#step2 select, #step2 input {
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  font-size: 25px;
}

#step2 input {
  font-size: 25px;
}

.step2submit {
	float: right;
}

/* STEP 3 */
#step3 {
  top: 120px !important;
  max-width: 500px !important;
  min-width: 250px;
}

#step3 label {
  font-size: 25px;
}

#step3 .user-list-container {
  max-height: 600px;
  overflow: auto;
}

#step3 .row {
  padding-right: 15px;
  padding-left: 15px;
}

#step3 input {
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  font-size: 25px;
  margin-bottom: 5px;
}

.step3submit {
  float: right;
}


/* STEP 4 */
#step4 {
	width: 800px !important;
}

#step4 .btn-warning {
	font-size: 30px;
  padding: 1px;
  padding-left: 10px;
}

#step4 .info-text {
	font-size: 20px;
}

#step4 #filteritemrestrictions .btn-danger,
#step4 #filterchamprestrictions .btn-danger {
  font-size: 15px;
  width: 75px;
}

#step4 #filteritemrestrictions .btn-warning,
#step4 #filterchamprestrictions .btn-warning {
  width: 445px;
  height: 42px;
  font-size: 24px;
}

#filteritemrestrictions, #filterchamprestrictions {
	height: 350px;
  margin-right: -17px;
  overflow-y: auto;
  overflow-x: hidden;
}

#step4 .list-group-item {
	color: black;
	width: 522px;
}

#step4 .step4back {
  margin-left: 0;
}


.step4submit {
	float: right;
  margin-right: -15px;
}

.col-xs-3 ul {
	min-height: 350px;
  background: #18BC9C;
  border-right: 1px solid #3AC7AB;
  border-bottom: 1px solid #3AC7AB;
  border-left: 1px solid #00A685;
/*  border-top: 1px solid #00A685;*/
}

.filter-list {
	color: white;
	font-size: 17px;
}

.filter-list.active {
	margin-right: -22px;
}

.filter-list.active ~ label:before {
	color: white;
}

.filter-list:hover, .filer-list:hover ~ label:before {
	cursor: pointer;
	color: #2c3e50;
}

.filter-list a {
	padding-left: 30px !important;
}

.filter-list a:hover {
	color: #2c3e50;
}

.filter-list input, .filter-list label {
	position: absolute;
  top: 9px;
  left: 9px;
}

.filter-list input:hover, .filter-list label:hover {
	cursor: pointer;
}

.filter-content {
	background-color: #2c3e50;
	min-height: 350px;
	color: white;
	border-radius: 5px;
}

.filter-content .dropdown-toggle:after{
 display:none;
}

.region-selector.default-size {
	border-color: #C07704;
	    border-bottom-width: 2px;
}

.region-selector.default-size:hover,.region-selector.default-size:focus {
	background-color: #C07704;
}

.item-input {
	width: 100%;
  margin-top: 5px;
  font-size: 25px;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
}

#step5 {
	width: 350px !important;
	text-align: center;
}

#step5 span {
	font-size: 20px;
	color: white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 20px;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
input[type=checkbox]:not(.filterroleradio) + label:before { color: #2c3e50; } /* space between checkbox and label */
input[type=checkbox].filterroleradio + label:before, input[type=checkbox].filterroleradio + label { font-size:32px; }
input[type=checkbox] + label:hover { cursor: pointer; }

span input[type=checkbox] + label:before { color: white; } /* space between checkbox and label */
td input[type=checkbox] + label:before { color: #2c3e50; display:none; } /* space between checkbox and label */
.filter-list.active input[type=checkbox] + label:before { color: white; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
input[type=checkbox]:checked + label:before { color: limegreen;} /* allow space for check mark */
td input[type=checkbox]:checked + label:before { color: limegreen; display:none;} /* allow space for check mark */
.filter-list.active input[type=checkbox]:checked + label:before { color: limegreen; } /* allow space for check mark */




























.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #00DE0B; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FF0000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}





.map-type {
	border-right: red;
}

.map-image {
	position: relative;
	vertical-align: middle;
  width: 75px;
  border-radius: 100px;
  height: 75px;
}

.map-title {
	margin-left: -135px;
  color: orange;
  position: relative;
}

.map-title:nth-of-type(1), .map-image:nth-of-type(1) {
	top: 0%;
	left: 35%;
}


.map-title:nth-of-type(2), .map-image:nth-of-type(2) {
  top: 40%;
  left: -20%;
}

.map-title:nth-of-type(3), .map-image:nth-of-type(3) {
  top: 40%;
  left: 0%;
}

.player-amount > div > div > label {
	    width: 100px;
    height: 56px;
}


/* custom checkboxes step 2 */
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.SUMMONERS_RIFT{background-image:url(http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-sr.jpg);}
.HOWLING_ABYSS{background-image:url(http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-ha.jpg);}
.CRYSTAL_SCAR{background-image:url(http://cdn.leagueoflegends.com/game-info/1.1.9/images/content/modes-cs.jpg);}
.ONE{background-image:url(http://icons.iconarchive.com/icons/mattahan/umicons/256/Number-1-icon.png);}
.TWO{background-image:url(http://icons.iconarchive.com/icons/mattahan/umicons/128/Number-2-icon.png);}
.THREE{background-image:url(http://icons.iconarchive.com/icons/mattahan/umicons/128/Number-3-icon.png);}
.FOUR{background-image:url(http://icons.iconarchive.com/icons/mattahan/umicons/128/Number-4-icon.png);}
.FIVE{background-image:url(http://icons.iconarchive.com/icons/mattahan/umicons/128/Number-5-icon.png);}

.BARRIER{background-image:url(http://vignette2.wikia.nocookie.net/leagueoflegends/images/c/cc/Barrier.png/revision/latest?cb=20140115125640);}
.CLEANSE{background-image:url(http://vignette2.wikia.nocookie.net/leagueoflegends/images/9/95/Cleanse.png/revision/latest?cb=20140115125907);}
.EXHAUST{background-image:url(http://vignette2.wikia.nocookie.net/leagueoflegends/images/4/4a/Exhaust.png/revision/latest?cb=20111115121116);}
.FLASH{background-image:url(http://vignette1.wikia.nocookie.net/leagueoflegends/images/7/74/Flash.png/revision/latest?cb=20140115125446);}
.GHOST{background-image:url(http://vignette2.wikia.nocookie.net/leagueoflegends/images/a/ab/Ghost.png/revision/latest?cb=20140115125935);}
.HEAL{background-image:url(http://vignette2.wikia.nocookie.net/leagueoflegends/images/6/6e/Heal.png/revision/latest?cb=20111115121115);}
.IGNITE{background-image:url(http://vignette3.wikia.nocookie.net/leagueoflegends/images/f/f4/Ignite.png/revision/latest?cb=20131212215221);}
.SMITE{background-image:url(http://vignette3.wikia.nocookie.net/leagueoflegends/images/0/05/Smite.png/revision/latest?cb=20140115125806);}
.TELEPORT{background-image:url(http://vignette3.wikia.nocookie.net/leagueoflegends/images/e/e8/Teleport.png/revision/latest?cb=20140115125728);}




.drinkcard-cc{

    cursor:pointer;
/*    background-size:contain;*/
background-size: contain;
    background-repeat:no-repeat;
    display:inline-block;
/*    //width:100px;height:70px;*/
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

span.cc{ color:#6d84b4 }
