<link rel="stylesheet" href="./modules/home/style.css" />
<link rel="stylesheet" type="text/css" href="jquery.bracket.min.css"/>
<script type="text/javascript" src="jquery.gracket.min.js"></script>
<link rel="stylesheet" href="./modules/tournament/style.css"/>
<script src="js/bracket.js"></script>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">Tournament</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#/create">Create Tournament</a>
        </li>
        <li class="page-scroll">
          <a href="#/find">Find Tournament</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div id="tournamentPage">
  <div class="container">
    <div class="row">
      <div data-gracket='[
          [
            [ {"name" : "Team Solo Mid", "id" : "tsm", "seed" : 1}, {"name" : "Cloud 9", "id" : "c9", "seed" : 2} ],
            [ {"name" : "Counter Logic Gaming", "id" : "clg", "seed" : 3}, {"name" : "Fnatic", "id" : "fnc", "seed" : 4} ]
          ],
          [
            [ {"name" : "Team Solo Mid", "id" : "tsm", "seed" : 1}, {"name" : "Counter Logic Gaming", "id" : "clg", "seed" : 3} ]
          ],
          [
            [ {"name" : "Team Solo Mid", "id" : "tsm", "seed" : 1} ]
          ]
        ]'>
      </div>
    </div>
  </div>
</div>
