input.loginForm {
	font-size:25px;
}
.regPanel, .input-group-addon {
  font-size: 25px;
}
.form-control {
  height: auto;
}
span#basic-addon1 {
  padding-right: 18px;
}
span#basic-addon2 {
  padding-right: 20px;
}
span#basic-addon4 {
  padding-right: 12px;
}
div {
  text-align:left;
}
#registerImage {
  background-image: url('/hackathon/Content/register.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:90vh;
}
#registerContainer{
  min-width:300px;
  max-width: 450px;
  height: 450px;
  background:rgba(255,255,255, 0.8);
  border-radius: 25px;
  border: 2px solid black;
  padding-right:5px;
  padding-left:5px;
  padding-top:20px;
  padding-bottom:20px;
  margin: 0 auto;
}
#registerPadding {
  padding-top:100px;
}
#view {
  padding-right:0px;
  padding-left: 0px;
}
input.ng-invalid {
  border:1px solid #ccc;
}
button {
  width:100%;
}
.help-block {
  margin-top:0px;
  margin-bottom:0px;
  color:white;
  background-color:red;
  border:2px solid red;
  font-size:14px;
}