<link rel="stylesheet" href="./modules/home/style.css" />
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">Tournament <i class="fa fa-trophy" style="margin-left:-4px;font-size:16px"></i><span style="font-size:16px;margin-left:5px">gg</span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#/create">Create Tournament</a>
        </li>
        <li class="page-scroll">
          <a href="#/find">Find Tournament</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
  <div class="container" style="padding-top:150px;padding-bottom:50px">
    <div class="row">
      <div class="col-md-12">
        <i class="fa fa-trophy" style="font-size:88px"></i>
      </div>
      <div class="col-md-12">
        <a href="#/create" class="btn btn-lg btn-outline">
                        Create Tournament
                    </a>
        <a href="#/find" class="btn btn-lg btn-outline" style="margin-left:14px">
                        Find Tournament
                    </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <hr class="star-light">
          <span class="skills">A new way to play with friends</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- How it works section -->
<section id="portfolio" style="padding:50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>How it works.</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">

      <div class="col-md-3">
       <h4>1. Find Or Create a tournament with a Custom Game Mode.<h4>
       <div>
         <img class="img-responsive" src="/img/front_page/find_tournament.png" alt="Find Tournament" />
       </div>
      </div>

      <div class="col-md-3">
       <h4>2. Copy your tournament code into League Of Legends.<h4>
       <div>
         <img class="img-responsive" src="/img/front_page/use_code.png" alt="Find Tournament" />
       </div>
      </div>

      <div class="col-md-3">
       <h4>3. Dominate your opponents (or at least try)!<h4>
       <div>
         <img class="img-responsive" src="/img/front_page/win_games.png" alt="Find Tournament" />
       </div>
      </div>

      <div class="col-md-3">
       <h4>4. Check the results! <br /><br /><br /><h4>
       <div>
         <img class="img-responsive" src="/img/front_page/tournament_screen.png" alt="Find Tournament" />
       </div>
      </div>
    


    </div>
     <div class="row" style="margin-top:40px">

      <div class="col-md-2">
        <h3> Custom Game Modes </h3>
      </div>

      <div class="col-md-2">
        <img class="img-responsive" src="/img/modes/no_wards.png" alt="Play without wards." />
      </div>

      <div class="col-md-2">
       <img class="img-responsive" src="/img/modes/all_spells.png" alt="Find Tournament" />
      </div>

      <div class="col-md-2">
        <img class="img-responsive" src="/img/modes/no_potions.png" alt="Find Tournament" />
      </div>

      <div class="col-md-2">
        <img class="img-responsive" src="/img/modes/teemo_touchdown.png" alt="Find Tournament" />
      </div>

      <div class="col-md-2">
         <img class="img-responsive" src="/img/modes/jungle_rumble.png" alt="Find Tournament" />
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-12">
          What are you doing this far down the page!? Get playing!
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Your Website 2014
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
